     @import url(https://fonts.googleapis.com/css?family=Montserrat:400);
     * {
         box-sizing: border-box;
     }
     
     html {
         height: 100%;
     }
     
     body {
         position: relative;
         height: 100%;
         padding: 8%;
         margin: 0;
         background: #88c388;
         box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 100px;
     }
     
     main {
         width: 100%;
         max-width: 600px;
         margin: auto;
         padding: 24px;
         font-family: "Montserrat", sans-serif;
         font-size: 18px;
         line-height: 22px;
         background: white;
         border-radius: 8px;
         box-shadow: rgba(0, 0, 0, 0.2) 0 20px 20px -12px;
     }