@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    padding: 8%;
    margin: 0;
    background: #88c388;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 100px;
}

button {
    padding: 12px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    background: #66B266;
    color: white;
    box-shadow: inset #3c763c 0 -2px 0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-out;
    border-radius: 0;
}

button:disabled {
    background: #e6e6e6;
    box-shadow: inset #d9d9d9 0 -2px 0;
}

button:disabled:hover {
    background: #e6e6e6;
}

button:hover {
    background: #55a955;
}

button:active {
    box-shadow: inset #448744 0 0 0;
    transform: translateY(2px);
}

input {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    outline: none;
    border: 1px solid #ededed;
    transition: border 1s ease-out;
    border-radius: 0;
    box-shadow: none;
    margin-left: 350px;
    margin-top: 30px;
}

.ng-binding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input.placeholder {
    color: #d9d9d9;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

input:-moz-placeholder {
    color: #d9d9d9;
    -moz-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

input::-moz-placeholder {
    color: #d9d9d9;
    -moz-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

input::-webkit-input-placeholder {
    color: #d9d9d9;
    -webkit-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

input:focus {
    border: 1px solid #66B266;
}

input:focus.placeholder {
    opacity: 0;
    transform: translateX(12px);
}

input:focus:-moz-placeholder {
    opacity: 0;
    transform: translateX(12px);
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transform: translateX(12px);
}

ul {
    margin: 0 0 24px;
    border-top: 1px solid #ededed;
}

ul li {
    color: #3c763c;
    position: relative;
    padding: 16px 24px 16px 0;
    background: white;
    border-bottom: 1px solid #ededed;
    transition: color 0.1s ease-out;
}

ul li span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all-complete {
    color: #55a955
}

.task-done {
    text-decoration: line-through;
    color: #88c388;
}